@layer reset, utils, components, main, media;

@layer utils {
  :root {
    --color-accent: hsl(202, 50%, 14%);
    --color-accent-lighter: hsl(201, 11%, 47%);
    --color-white: hsl(200, 100%, 99%);
    --color-gray: hsl(0, 0%, 46%);
    --color-gray-lighter: rgba(218, 218, 218, 1);
    --color-black-lighter: rgba(0, 0, 0, 0.4);
    --section-horizontal-padding: 60px;

    --tabletAndSmaller: 750px;
  }

  body {
    font-family: Josefin Sans, sans-serif;
    background-color: var(--color-white);
    color: var(--color-accent);
  }

  main {
    padding: 0 var(--section-horizontal-padding);
  }

  h1,
  h2 {
    font-family: Frank Ruhl Libre, sans-serif;
  }
}

@layer main {
  /*/////////////////////////////////*/
  /*            HEADER               */
  /*/////////////////////////////////*/
  .header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 32px var(--section-horizontal-padding);
    position: sticky;
    top: 0;
  }

  .logo {
    display: block;
    object-fit: cover;
  }

  .header__navigation ul {
    display: flex;
    gap: 24px;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
  }

  .nav__item {
    padding: 12px;
    text-wrap: nowrap;
    padding: 12px;
    background-color: transparent;
    border: none;
    width: fit-content;
    height: fit-content;

    &:hover {
      text-decoration: underline;
    }
  }

  #open-dialog-menu {
    display: none;
  }

  /*/////////////////////////////////*/
  /*            Dialog Menu          */
  /*/////////////////////////////////*/

  .dialog-menu {
    max-width: 100%;
    max-height: 100%;
    width: 100%;
    height: 100%;
    padding: 16px 24px;
    align-content: space-between;
    z-index: 100;
  }
  .dialog-menu__header {
    display: flex;
    justify-content: space-between;
  }
  .dialog-menu__navigation {
    width: 100%;
    display: grid;
    place-content: center;

    & li {
      text-align: center;
    }
  }

  .dialog-menu__button--close svg {
    width: 32px;
    height: 32px;
  }

  .dialog .button--fill {
    width: 100%;
  }

  /*/////////////////////////////////*/
  /*         Dialog Subscribe        */
  /*/////////////////////////////////*/

  .dialog-subscribe {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    height: 422px;
    border-radius: 8px;
    width: 75%;
    z-index: 100;
    grid-template-columns: 1fr 1fr;
  }

  .dialog-subscribe::backdrop {
    background-color: rgba(0, 0, 0, 0.5);
    backdrop-filter: blur(3px);
  }

  .dialog-subscribe__image {
    border-radius: 8px 0 0 8px;
    overflow: clip;

    & img {
      display: block;
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }

  .dialog-subscribe__text {
    background-color: var(--color-white);
    place-content: center;
    padding: 25px 50px;
    border-radius: 0 8px 8px 0;
    overflow: clip;
  }

  .dialog-subscribe__form {
    display: flex;
    gap: 12px;

    & input {
      padding: 12px 16px;
      border: 1px solid;
      border-color: var(--color-gray-lighter);
      border-radius: 8px;
    }
  }

  .dialog-subscribe__button--close {
    position: absolute;
    top: 16px;
    right: 16px;
  }

  /*/////////////////////////////////*/
  /*            Toast                */
  /*/////////////////////////////////*/
  .toast {
    border-radius: 8px;
    background-color: var(--color-accent);
    color: var(--color-white);
    width: fit-content;
    position: absolute;
    left: 50%;

    transform: translateX(-50%);
    text-align: center;
    padding: 12px 16px;
    font-size: 1rem;
    display: none;

    animation: liftUp 1s both;
  }
  .toast-subscribe-success {
  }
}

@layer media {
  @media (max-width: 750px) {
    html {
      --section-horizontal-padding: 16px;
    }

    /*/////////////////////////////////*/
    /*            HEADER               */
    /*/////////////////////////////////*/
    .header {
      padding: var(--section-horizontal-padding);
    }

    .logo {
      width: 80px;
    }

    .header__navigation,
    .open-dialog-subscribe-desktop {
      display: none;
    }

    #open-dialog-menu {
      display: revert;
    }

    /*/////////////////////////////////*/
    /*            DIALOG               */
    /*/////////////////////////////////*/
    .dialog-subscribe {
      height: 100%;
      width: 100%;

      grid-template-columns: 1fr;
      grid-template-rows: 1fr 1fr;
    }

    .dialog-subscribe__text {
      text-align: center;
    }

    .dialog-subscribe__form {
      display: grid;
      grid-template-columns: 3fr 1fr;
    }

    .dialog-subscribe__button--close {
      border-radius: 50%;
      background-color: var(--color-white);
      padding: 16px;

      & svg {
        width: 32px;
        height: 32px;
      }
    }

    .toast {
      padding: 8px 16px;
      font-size: 0.875rem;
    }
  }
}
