@layer reset,
  utils, components, main, media;

@layer utils {
  :root {
    --color-accent: hsl(202, 50%, 14%);
    --color-accent-lighter: hsl(201, 11%, 47%);
    --color-white: hsl(200, 100%, 99%);
    --color-gray: hsl(0, 0%, 46%);
    --color-gray-lighter: rgba(218, 218, 218, 1);
    --color-black-lighter: rgba(0, 0, 0, 0.4);
    --section-horizontal-padding: 60px;

    --tabletAndSmaller: 750px;
  }

  body {
    font-family: Josefin Sans, sans-serif;
    background-color: var(--color-white);
    color: var(--color-accent);
  }

  main {
    padding: 0 var(--section-horizontal-padding);
  }

  h1,
  h2,
  h3 {
    font-family: Frank Ruhl Libre, sans-serif;
  }
}

@layer components {
  /*  Buttons  */
  .button {
    font-size: 1.25rem;
    border: none;
  }

  .button--icon {
    background-color: transparent;
  }

  .button--fill {
    padding: 12px 24px;
    border-radius: 8px;
    background-color: var(--color-accent);
    color: var(--color-white);
    transition: background-color, 5s;

    &:hover {
      transition: background-color, 0.2s;
      background-color: var(--color-accent-lighter);
    }
  }

  /* Dialog */
  .dialog {
    z-index: 101;
    border: none;
    background-color: var(--color-white);
    position: absolute;
  }

  /* Heading */
  .heading--1 {
    /* font-size: 6rem; */
    font-size: clamp(3.5rem, 10vw - 2rem, 5rem);
    font-weight: 400;
    color: var(--color-accent);
  }

  .heading--3 {
    font-size: 3rem;
    font-weight: 400;
    color: var(--color-accent);
  }

  .sub-heading {
    font-weight: 400;
    font-size: 24px;
  }

  .heading--4 {
    font-weight: 700;
    font-size: 24px;
  }

  /* Margins */

  .mb-16 {
    margin-bottom: 16px;
  }
  .mb-20 {
    margin-bottom: 20px;
  }

  /* Toast */
  .toast {
    border-radius: 8px;
    background-color: var(--color-accent);
    color: var(--color-white);
    width: fit-content;
    position: absolute;
    left: 50%;

    transform: translateX(-50%);
    text-align: center;
    padding: 12px 16px;
    font-size: 1rem;
    display: none;

    animation: liftUp 1s both;
  }

  /* Horizontal Line  */

  .line {
    position: absolute;
    width: 1000%;
    border: 1px solid var(--color-accent);
    left: -50%;
    top: 50%;
    transform: translateY(-50%);
    z-index: -1;
  }
}

@layer main {
  /*/////////////////////////////////*/
  /*            HEADER               */
  /*/////////////////////////////////*/
  .header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 32px var(--section-horizontal-padding);
    position: sticky;
    top: 0;
    background-color: var(--color-white);
    z-index: 50;
  }

  .logo {
    display: block;
    object-fit: cover;
  }

  .header__navigation ul {
    display: flex;
    gap: 24px;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
  }

  .nav__item {
    font-size: 1.25rem;
    text-wrap: nowrap;
    padding: 12px;
    background-color: transparent;
    border: none;
    width: fit-content;
    height: fit-content;

    &:hover {
      text-decoration: underline;
    }
  }

  #open-dialog-menu {
    display: none;
  }

  /*/////////////////////////////////*/
  /*            Dialog Menu          */
  /*/////////////////////////////////*/

  .dialog-menu {
    max-width: 100%;
    max-height: 100%;
    width: 100%;
    height: 100%;
    padding: 16px 24px;
    align-content: space-between;
    z-index: 100;
  }
  .dialog-menu__header {
    display: flex;
    justify-content: space-between;
  }
  .dialog-menu__navigation {
    width: 100%;
    display: grid;
    place-content: center;

    & li {
      text-align: center;
    }
  }

  .dialog-menu__button--close svg {
    width: 32px;
    height: 32px;
  }

  .dialog .button--fill {
    width: 100%;
  }

  /*/////////////////////////////////*/
  /*         Dialog Subscribe        */
  /*/////////////////////////////////*/

  .dialog-subscribe {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    height: 422px;
    border-radius: 8px;
    width: 75%;
    z-index: 100;
    grid-template-columns: 1fr 1fr;
  }

  .dialog-subscribe::backdrop {
    background-color: rgba(0, 0, 0, 0.5);
    backdrop-filter: blur(3px);
  }

  .dialog-subscribe__image {
    border-radius: 8px 0 0 8px;
    overflow: clip;

    & img {
      display: block;
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }

  .dialog-subscribe__text {
    background-color: var(--color-white);
    place-content: center;
    padding: 25px 50px;
    border-radius: 0 8px 8px 0;
    overflow: clip;
  }

  .dialog__sub-heading {
    font-size: 20px;
    color: var(--color-gray);
  }

  .dialog-subscribe__form {
    display: flex;
    gap: 12px;

    & input {
      padding: 12px 16px;
      border: 1px solid;
      border-color: var(--color-gray-lighter);
      border-radius: 8px;
    }
  }

  .dialog-subscribe__button--close {
    position: absolute;
    top: 16px;
    right: 16px;
  }

  /*/////////////////////////////////*/
  /*            Hero Section         */
  /*/////////////////////////////////*/
  .hero {
    padding: 64px 0;
    overflow: clip;
    display: grid;
    row-gap: 64px;
  }

  .hero__text-container {
    display: grid;
    row-gap: 32px;
  }

  .hero__heading {
    width: 100%;
    text-align: end;
    font-size: clamp(3.5rem, 10vw - 2rem, 5rem);
  }

  .hero__sub-heading {
    padding: 0 16px;
    max-width: 560px;
    transform: translateX(10%);
    background-color: var(--color-white);
  }

  .hero__wrapper-sub-heading {
    position: relative;
  }

  .hero__image {
    width: 100%;
    aspect-ratio: 2/1;
    object-fit: cover;
    display: block;
  }

  /*/////////////////////////////////*/
  /*            Sun-Hero Section         */
  /*/////////////////////////////////*/

  .sub-hero__text-container {
    padding: 32px 0;
    display: flex;
    border-bottom: 1px solid var(--color-accent);
    gap: clamp(2.5rem, 13.8vw - 5.25rem, 8.125rem);
  }

  .sub-hero__sub-heading {
    max-width: 540px;
    font-size: 1.25rem;
    line-height: 2;
  }
}

@layer media {
  @media (max-width: 750px) {
    html {
      --section-horizontal-padding: 16px;
    }

    /*/////////////////////////////////*/
    /*            HEADER               */
    /*/////////////////////////////////*/
    .header {
      padding: var(--section-horizontal-padding);
    }

    .logo {
      width: 80px;
    }

    .header__navigation,
    .open-dialog-subscribe-desktop {
      display: none;
    }

    .nav__item {
      font-size: 1rem;
    }

    #open-dialog-menu {
      display: revert;
    }

    /*/////////////////////////////////*/
    /*          DIALOG Subscribe       */
    /*/////////////////////////////////*/
    .dialog-subscribe {
      height: 100%;
      width: 100%;

      grid-template-columns: 1fr;
      grid-template-rows: 1fr 1fr;
    }

    .dialog-subscribe__text {
      text-align: center;
    }

    .dialog-subscribe__form {
      display: grid;
      grid-template-columns: 3fr 1fr;
    }

    .dialog-subscribe__button--close {
      border-radius: 50%;
      background-color: var(--color-white);
      padding: 16px;

      & svg {
        width: 32px;
        height: 32px;
      }
    }

    /*/////////////////////////////////*/
    /*            Toast                */
    /*/////////////////////////////////*/
    .toast {
      padding: 8px 16px;
      font-size: 0.875rem;
    }

    /*/////////////////////////////////*/
    /*            Hero                */
    /*/////////////////////////////////*/
    .hero {
      padding: 40px 0;
      row-gap: 32px;
    }

    .hero__text-container {
      row-gap: 12px;
    }

    .hero__sub-heading {
      font-size: 1rem;
      transform: translateX(0%);
    }

    .hero__wrapper-sub-heading .line {
      display: none;
    }

    /*/////////////////////////////////*/
    /*           Sub Hero              */
    /*/////////////////////////////////*/

    .sub-hero__text-container {
      flex-direction: column;
      gap: 8px;
      padding: 0 0 40px;
    }

    .sub-hero__heading {
      font-size: 1.5rem;
    }
    .sub-hero__sub-heading {
      font-size: 1rem;
    }

    /*/////////////////////////////////*/
    /*            Headings              */
    /*/////////////////////////////////*/

    .heading--1 {
      font-size: 1.75rem;
    }
  }
}
